@font-face{
    font-family: Bebas;
    src:url(BebasNeue-Regular.ttf)
}
#tassiahead {
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
}

body {    
    background-color: rgb(225, 223, 238);
}
section {
    margin-bottom: 100px;
}
#menu {
    position: fixed;
    right: 0;
    top: 50%;
    width: 9em;    
    text-align: right;
    }
#menu li {
    font-size: 1.5vw;
}
#menu li a {
    text-decoration: none;
    font-family: Bebas, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin-right: 1em;
    margin-top: 10px;
    color: rgb(126, 7, 56);
}
.datas {
    float: left;
    font-family: Bebas, Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25vw;
    margin-right: 2vw;
    padding: 2vh;
}
.datas li {
    margin-top: 10px;
    font-size: 2em;  
}

.datas li a {
    text-decoration: none;
    background-color:  rgba(126, 7, 57, 0.61);
    color: white;
    margin-right: 10px;
}
.datas li a:hover {
    background-color:  rgba(126, 7, 57, 0.87);

}
.coluna li {
    font-family: Bebas, Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    font-size: 1.5em;  
}
#agenda, #discografia, #fotos, #contato, #loja {
    font-family: Bebas, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 10px;
}
.discos {
   width: 20vw;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
}
#disco {
    margin-bottom: 30px;
    width: 30vw;
}
.fotos {
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
#foto {
    margin-bottom: 30px;
    width: 30vw;
}
footer {
    background-color: grey;
    height: 20vh;
}
