body {    
    background-color: darkslateblue;
}
#menu {
    position: fixed;
    right: 0;
    top: 50%;
    width: 9em;    
    text-align: right;
    }
#menu li {
    font-size: 1.5vw;
}
#menu li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin-right: 1em;
    margin-top: 10px;
    color: burlywood;
}
h1 {
    display: table;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    position: 50vw;
}
#tassiahead {
    width: 70vw;
    margin-left: 50vh;
}
#disco {
    width: 20vw;
}